<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MsSQLConnString" value="server=.;Pooling=false;database=XHS;uid=sa;pwd=MES2016mj" />
    <add key="BarcodeRuleSchemaFile" value="Config\XinWangDaBattery_UI_Schema.json" />
    <add key="ZplTemplateFile" value="Config\SmallQRCode30x30.json" />
    <add key="ZplOutputFile" value="output\BarcodeDesigner.zpl" />
    <add key="PrinterName" value="" />
  </appSettings>
</configuration>
