<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MsSQLConnString" value="server=.;Pooling=false;database=XHS;uid=sa;pwd=MES2016mj" />
    <add key="UnRegularTableImportMaxOffsetColumn" value="4" />
    <add key="UnRegularTableImportMaxOffsetRow" value="13" />
    <add key="ShippingGoodsUploadPath" value="~/Upload/ShippingGoods" />
    <add key="Chery.AppKey" value="epm-test" />
    <add key="Chery.AppSecret" value="epm-secret" />
    <add key="Chery.SupplNo" value="3051" />
    <add key="Chery.BaseNo" value="1133" />
    <add key="Chery.SignType" value="MD5" />
    <add key="Chery.CheckRecordUrl" value="https://verify-test.higoplat.com/epm-middle/api/v1/epm/checkRecord" />
    <add key="Chery.DeliveryType" value="1" />
    <add key="Chery.PackageType" value="1" />
    <add key="Chery.ContentType" value="application/json;charset=UTF8" />
    <add key="Chery.TimeoutSeconds" value="10" />
    <add key="RunMode" value="release" />
	<add key="WorkflowDAL" value="ModuleWorkFlow.MsSQLDAL" />
	<add key="WorkflowPath" value="MsSQL" />
    <add key="menu" value="2," />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>

