<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MsSQLConnString" value="server=.;Pooling=false;database=XHS;uid=sa;pwd=MES2016mj" />
    <add key="UnRegularTableImportMaxOffsetColumn" value="4" />
    <add key="UnRegularTableImportMaxOffsetRow" value="13" />
    <add key="ShippingGoodsUploadPath" value="~/Upload/ShippingGoods" />
    <add key="Chery.AppKey" value="epm-test" />
    <add key="Chery.AppSecret" value="epm-secret" />
    <add key="Chery.SupplNo" value="3051" />
    <add key="Chery.BaseNo" value="1133" />
    <add key="Chery.SignType" value="MD5" />
    <add key="Chery.CheckRecordUrl" value="https://verify-test.higoplat.com/epm-middle/api/v1/epm/checkRecord" />
    <add key="Chery.DeliveryType" value="1" />
    <add key="Chery.PackageType" value="1" />
    <add key="Chery.ContentType" value="application/json;charset=UTF8" />
    <add key="Chery.TimeoutSeconds" value="10" />
    <add key="RunMode" value="release" />
	<add key="WorkflowDAL" value="ModuleWorkFlow.MsSQLDAL" />
	<add key="WorkflowPath" value="MsSQL" />
    <add key="menu" value="2," />
    <add key="PrintRecord.LabelOutputFolder" value="~/labeloutput" />
    <add key="Label.Table.LeftColumnRatio" value="0.26" />
    <add key="Label.Table.MiddleColumnRatio" value="0.48" />
    <add key="Label.Table.QrColumnRatio" value="0.26" />
    <add key="Label.Table.QrPadding" value="1.5" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <sessionState mode="InProc" timeout="60" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" culture="neutral" publicKeyToken="adb9793829ddae60" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.5" newVersion="10.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

