<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MsSQLConnString" value="server=.;Pooling=false;database=XHS;uid=sa;pwd=MES2016mj" />
    <add key="UnRegularTableImportMaxOffsetColumn" value="4" />
    <add key="UnRegularTableImportMaxOffsetRow" value="13" />
    <add key="ShippingGoodsUploadPath" value="~/Upload/ShippingGoods" />
	  <add key="WorkflowDAL" value="ModuleWorkFlow.MsSQLDAL" />
	  <add key="WorkflowPath" value="MsSQL" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
</configuration>
