<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Chery.AppKey" value="epm-test" />
    <add key="Chery.AppSecret" value="epm-secret" />
    <add key="Chery.SupplNo" value="8KK" />
    <add key="Chery.BaseNo" value="06" />
    <add key="Chery.SignType" value="MD5" />
    <add key="Chery.CheckRecordUrl" value="https://verify-test.higoplat.com/epm-middle/api/v1/epm/checkRecord" />
    <add key="Chery.DeliveryType" value="1" />
    <add key="Chery.PackageType" value="1" />
    <add key="Chery.ContentType" value="application/json;charset=UTF8" />
    <add key="Chery.TimeoutSeconds" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
