<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MsSQLConnString" value="server=.;Pooling=false;database=XHS;uid=sa;pwd=MES2016mj" />
    <add key="WorkflowDAL" value="ModuleWorkFlow.MsSQLDAL" />
    <add key="WorkflowPath" value="MsSQL" />
    <add key="menu" value="2," />
    <add key="Workflow.LoginRequiredMenuId" value="B01" />
    <add key="Workflow.LoginRequiredPrivilege" value="PQUERY" />
    <add key="Chery.AppKey" value="epm-test" />
    <add key="Chery.AppSecret" value="epm-secret" />
    <add key="Chery.SupplNo" value="3051" />
    <add key="Chery.BaseNo" value="1133" />
    <add key="Chery.SignType" value="MD5" />
    <add key="Chery.CheckRecordUrl" value="https://verify-test.higoplat.com/epm-middle/api/v1/epm/checkRecord" />
    <add key="Chery.DeliveryType" value="1" />
    <add key="Chery.PackageType" value="1" />
    <add key="Chery.ContentType" value="application/json;charset=UTF8" />
    <add key="Chery.TimeoutSeconds" value="10" />
    <add key="RunMode" value="release" />

	  <!-- 单张标签尺寸，单位 mm -->
	  <add key="Label.Width" value="100" />
	  <add key="Label.Height" value="60" />

	  <!-- A4 拼版设置，单位 mm -->
	  <add key="Label.A4.PageWidth" value="210" />
	  <add key="Label.A4.PageHeight" value="297" />
	  <add key="Label.A4.MarginLeft" value="5" />
	  <add key="Label.A4.MarginTop" value="10" />
	  <add key="Label.A4.Columns" value="2" />
	  <add key="Label.A4.Rows" value="4" />
	  <add key="Label.A4.ColumnGap" value="0" />
	  <add key="Label.A4.RowGap" value="5" />

	  <!-- 字体设置 -->
	  <add key="Label.FontName" value="Microsoft YaHei" />
	  <add key="Label.TitleFontSize" value="8" />
	  <add key="Label.ValueFontSize" value="9" />

	  <!-- 模板目录和输出目录 -->
	  <add key="Label.TemplateFolder" value="." />
	  <add key="Label.OutputFolder" value="Output" />
	  <add key="Label.Roll.Width" value="100" />
	  <add key="Label.Roll.Height" value="150" />
	  <add key="Label.Roll.PageWidth" value="100" />
	  <add key="Label.Roll.PageHeight" value="150" />
	  <add key="Label.Roll.MarginLeft" value="0" />
	  <add key="Label.Roll.MarginTop" value="0" />
	  <add key="Label.Roll.Columns" value="1" />
	  <add key="Label.Roll.Rows" value="1" />
	  <add key="Label.Roll.ColumnGap" value="0" />
	  <add key="Label.Roll.RowGap" value="0" />
	  <add key="Label.Roll.PrintOffsetX" value="-1.5" />
	  <add key="Label.Roll.PrintOffsetY" value="0" />
	  <add key="Label.Roll.PrintRenderWidth" value="96" />
	  <add key="Label.Roll.PrintRenderHeight" value="150" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
